<!doctype html>
<title>{% block title %}{% endblock %}E-Commerce Database</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <ul>
        <li><a href="{{ url_for('get_customers') }}">Home</a></li>
        <li><a>Customers</a></li>    
    </ul>
  
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>