{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="mb-4">Edit Product</h1>
    <form method="POST" action="{{ url_for('edit_product', product_id=id) }}">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="{{form.name.id}}" class="form-label"> {{ form.name.label.text }} </label>
            {{ form.name(class="form-control", id=form.name.id) }}
            <div class="text-danger">
                {% if form.name.errors %}
                    <small> {{error}} </small>
                {% endif %}
            </div>
        </div>

        <div class="mb-3">
            <label for="{{form.price.id}}" class="form-label"> {{ form.price.label.text }} </label>
            {{ form.price(class="form-control", id=form.price.id) }}
            <div class="text-danger">
                {% if form.price.errors %}
                    <small> {{error}} </small>
                {% endif %}
            </div>
        </div>

        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('get_products') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}